<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>许可证检测前端示例</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/self.css">

</head>

<body id="top" class="stickyfooter header-fixed"  style="background-color:#ffffff">
<script src="js/cc.js" type="text/javascript" charset="utf-8"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/md5.js"></script>

<div id="app" >

    <h1  style="text-align: center">{{showTitle}}</h1>

    <upload_file></upload_file>
    <inquire></inquire>

    <div v-if="mode==2" >
        <dep_info :dep_dic="depDic"></dep_info>
        <deps_conflict :deps_conflict_dic="depsConflictDic"></deps_conflict>
        <proj_conflict :proj_conflict_dic="projConflictDic"></proj_conflict>

    </div>

    <div v-if="mode==3">
        <missing_license :missing_dic="missingDic"></missing_license>
    </div>

    <div v-if="mode==4">
        <h4 >检测未完成，请稍后重新查询</h4>
    </div>

</div>


</body>
</html>




<script>
    // axios实例

    const instance = axios.create({
        baseURL: "./",
        timeout: 5000,
    });

    //依赖信息组件
    const dep_info = {
        template: `
          <div class="stickyfooter header-fixed" >
          <div class="content">
            <main>
              <section class="pricing-area pt90 pb30">
                <div class="container">
                  <hr color="black ">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="area-heading text-center">
                        <h2 class="area-title">依赖信息</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>

                      <div v-for=" (dep,index) in dep_dic" class="col-md-4  card">

                        <div class="pricing-table mb30">
                          <div class="price-header">
                            <span class="price">{{ dep.package }}</span>
                          </div>
                          <hr>
                          <div class="price-body">
                            <ul>
                              <li v-for="each_dep in dep.dependency">{{ each_dep }}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <hr color="black ">
                </div>
              </section>
            </main>
          </div>
          </div>

        `,
        data() {
            return {}
        },
        props: ['dep_dic']

    };
    //与依赖间冲突组件
    const deps_conflict = {
        template: `
          <div class="stickyfooter header-fixed">
          <div class="content">
            <main>
              <section class="pricing-area  pb30">
                <div class="container">

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="area-heading text-center">
                        <h2 class="area-title">与依赖间冲突</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>

                      <div v-for=" (conflict,index) in deps_conflict_dic" class="col-md-4">

                        <div class="pricing-table mb30 " style="height: 400px;overflow: hidden !important;">
                          <h4 >冲突[{{index+1}}]</h4>
                          <hr>
<!--                          <div class="price-header">-->
<!--                            <span class="price">{{ conflict.packOne }}</span>-->
<!--                          </div>-->
                          <div class="price-body text-left  test test-1 " >
<!--                            <div class="scrollbar"></div>-->
                            <ul>
                              <li><span style="display:inline-block;font-weight: bold;width: 10em; ">{{conflict.pack}}</span>: {{conflict.licenseOne}}</li>
                              <li><span style="display:inline-block;font-weight: bold;width: 10em;">{{conflict.dependency}}</span>: {{conflict.licenseTwo}}</li>
                              <li><span style="font-weight: bold">冲突信息：</span>{{conflict.conflictInfo}}</li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <hr color="black ">
                </div>
              </section>
            </main>
          </div>
          </div>
        `,
        data(){
            return {
                count:1
            }
        },
        methods: {
        },
        props: ['deps_conflict_dic','test']
    };
    //项目中冲突
    const proj_conflict={
        template:`
          <div class="stickyfooter header-fixed" v-if="proj_conflict_dic.length!=0">
          <div class="content">
            <main>
              <section class="pricing-area  pb30">
                <div class="container">

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="area-heading text-center">
                        <h2 class="area-title">项目中冲突</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>

                      <div v-for=" (conflict,index) in proj_conflict_dic" class="col-md-4">

                        <div class="pricing-table mb30 " style="height: 400px;overflow: hidden !important;">
                          <h4 >冲突[{{index+1}}]</h4>
                          <hr>

                          <div class="price-body text-left  test test-1 " >
                            <ul>
                              <li><span style="display:inline-block;font-weight: bold;width: 10em; ">{{conflict.packOne}}</span>: {{conflict.licenseOne}}</li>
                              <li><span style="display:inline-block;font-weight: bold;width: 10em;">{{conflict.packTwo}}</span>: {{conflict.licenseTwo}}</li>
                              <li><span style="font-weight: bold">冲突信息：</span>{{conflict.conflictInfo}}</li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <hr style="color: black">
                </div>
              </section>
            </main>
          </div>
          </div>
          <div v-else>
          <h2>无项目中冲突</h2>
          </div>
        `,
        props:['proj_conflict_dic']
    }
    //license缺失
    const missing_license={
        template:`
          <div class="stickyfooter header-fixed" v-if="missing_dic.length!=0">
          <div class="content">
            <main>
              <section class="pricing-area  pb30">
                <div class="container">

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="area-heading text-center">
                        <h2 class="area-title">该项目缺少许可证</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>

                      <div  class="col-md-12">

                        <div class="pricing-table mb30 " style="height: 400px;overflow: hidden !important;">
                          <h4 >推荐许可证</h4>
                          <hr>

                          <div class="price-body text-left  test test-1 " >
                            <ul>
                              <li ><span style="font-weight: bold;">缺失项目名:</span>: {{missing_dic[0].missingPackage}}</li>
                              <li v-for="(recommend,idx) in missing_dic[0].recommends"><span style="font-weight: bold">推荐许可证{{idx+1}}:</span>{{recommend}}</li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <hr color="black ">
                </div>
              </section>
            </main>
          </div>
          </div>
          <div v-else>
          <h2>无项目中冲突</h2>
          </div>
        `,
        props: ['missing_dic']
    }

    //上传文件组件
    const upload_file={
        template:`
        <div class="big-classic-load-button text-center">
        <p class="end">提示信息</p>
<!--        选择文件按钮        -->
        <a type="button" id="classic-load-button-link" href="#" data-load="1" @click="click_submit">选择文件</a>


        <br>
        {{filename}}
        <br>
        <button  @click="upload" class="btn btn-lg btn-black ">上传</button>
        <br>
        <span v-if="is_upload">正在上传文件，请稍后...</span>
        <br>
        <span v-if="hash.length>=1"><span style="color: #fc011a">请记住你的查询号：</span>{{hash}}</span>
        <!--      隐藏的上传文件组件-->
        <input type="file"
               id="id_upload" name="avatar"
               accept=".zip"
               style="visibility: hidden"
               v-on:change="get_filename()">

        <hr>
    </div>
        `,
        data(){
            return {
                filename:' ',
                hash:'',
                is_upload:false
            }
        },
        methods:{

            upload(){

                let inputElement = document.getElementById("id_upload");
                this.hash='';
                this.is_upload=true;
                let file = inputElement.files[0];
                console.log(file);
                if (!file) {
                    alert("请选择文件");
                    this.is_upload=false;
                    return;
                }
                let size=file.size;
                console.log(size);

                // this.hash=hex_md5(file);
                // console.log(this.hash);
                // alert('请记住查询号码：',this.hash);
                let param = new FormData(); // 创建form对象
                param.append("file", file); // 通过append向form对象添加数据
                // param.append("chunk", "别的数据"); // 添加form表单中其他数据

                console.log(param.get("file")); // FormData私有类对象，访问不到，可以通过get判断值是否传进去

                let config = {
                    headers: { "Content-Type": "multipart/form-data" }
                };

                //post上传文件和获取返回值

                // import {qs} from './vue/js/axios.js' ?不清楚你的具体路径
                //axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                //let data = qs.stringify(param)//我看你原来用的param
                // axios({
                //       method:'post',
                //       data:data

                //       })
                //添加qs处理大文件post
                axios.post("./", param, config,maxPostSize=0)
                    .then((response)=>{
                        console.log(response);
                        this.is_upload=false;
                        if(response.status==200){
                        //    获取查询码
                            this.hash='(获取到的查询码)';
                            console.log(this.hash);
                        }
                        else {
                            alert("a.上传失败，请重新选择文件");
                            this.filename='';
                        }
                        }
                    ).catch( (error)=> {
                    alert("b.上传失败，请重新选择文件");
                    this.is_upload=false;
                    console.log(error);
                });

            },
            click_submit(){
                let x=document.getElementById("id_upload");
                x.click()
            },
            get_filename(){
                let x=document.getElementById("id_upload");
                this.filename=x.value
            }
        }
    }


    //添加查询号组件
    const inquire={
        template:`
        <div class="container">
            <div class="form-group-lg" >
              <label for="id_inquire" style="float:left">查询已分析文件</label>
                <input type="text" class="form-control " id="id_inquire" placeholder="请输入查询号" v-model="inquire_num">
            </div>
             <button @click="quire" class="btn btn-lg btn-black">查询</button>
        </div>

        `,
        data(){
            return{
                inquire_num:''
            }
        },
        methods:{
            quire(){
                console.log("返回查询号：",this.inquire_num,"给后端");
                if(this.inquire_num.length>1){
                    //未出现缺失的情况 mode=2
                    app.mode=2;
                }
                else {
                    //未查询的情况 mode=1
                    app.mode=1;
                }
            //    出现缺失的情况 mode=3
            //    检测未完成 mode=4
            }
        }

    }


    const app = new Vue({
        el: '#app',
        data: {
            //  文件路径
            showTitle: '许可证检测',
            //  查询号码
            inquiryNum: '',
            depDic: '',
            depsConflictDic:'',
            projConflictDic:'',
            missingDic:'',
            testdata:"测试",
            mode:1,


        },
        methods: {
            getDepDic() {
                //发送get方式请求
                instance.get("json/depInfoDemo.json").then(res => this.depDic = res.data);
            },
            getDepsConflictDic(){
                instance.get("json/depsConflictDemo.json").then(respon => this.depsConflictDic=respon.data);
            },
            getProjConflictDic(){
                instance.get("json/projectsConflictDemo.json").then(respon => this.projConflictDic=respon.data);
            },
            getMissingDic(){
                instance.get("json/missingDemo.json").then(respon => this.missingDic=respon.data);
            }
        },
        components: {
            dep_info,
            deps_conflict,
            proj_conflict,
            missing_license,
            upload_file,
            inquire
        },

        created() {
            this.getDepsConflictDic();
            this.getDepDic();
            this.getProjConflictDic();
            this.getMissingDic();



        },
        // updated(){
        //     console.log(app.depDic);
        //     console.log(app.depsConflictDic);
        // }
    });


</script>
<!--鼠标心型特效-->
<script type="text/javascript">
    (function(window,document,undefined){
        var hearts = [];
        window.requestAnimationFrame = (function(){
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimationFrame ||
                function (callback){
                    setTimeout(callback,1000/60);
                }
        })();
        init();
        function init(){
            css(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
            attachEvent();
            gameloop();
        }
        function gameloop(){
            for(var i=0;i<hearts.length;i++){
                if(hearts[i].alpha <=0){
                    document.body.removeChild(hearts[i].el);
                    hearts.splice(i,1);
                    continue;
                }
                hearts[i].y--;
                hearts[i].scale += 0.004;
                hearts[i].alpha -= 0.013;
                hearts[i].el.style.cssText = "left:"+hearts[i].x+"px;top:"+hearts[i].y+"px;opacity:"+hearts[i].alpha+";transform:scale("+hearts[i].scale+","+hearts[i].scale+") rotate(45deg);background:"+hearts[i].color;
            }
            requestAnimationFrame(gameloop);
        }
        function attachEvent(){
            var old = typeof window.onclick==="function" && window.onclick;
            window.onclick = function(event){
                old && old();
                createHeart(event);
            }
        }
        function createHeart(event){
            var d = document.createElement("div");
            d.className = "heart";
            hearts.push({
                el : d,
                x : event.clientX - 5,
                y : event.clientY - 5,
                scale : 1,
                alpha : 1,
                color : randomColor()
            });
            document.body.appendChild(d);
        }
        function css(css){
            var style = document.createElement("style");
            style.type="text/css";
            try{
                style.appendChild(document.createTextNode(css));
            }catch(ex){
                style.styleSheet.cssText = css;
            }
            document.getElementsByTagName('head')[0].appendChild(style);
        }
        function randomColor(){
            return "rgb("+(~~(Math.random()*255))+","+(~~(Math.random()*255))+","+(~~(Math.random()*255))+")";
        }
    })(window,document);
</script>

