<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>许可证检测前端示例</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="top" class="stickyfooter header-fixed">

<div id="app">
    
    <h2 class="center-block">{{showTitle}}</h2>
    <depinfo :dep_dic="depDic"></depinfo>

</div>


</body>
</html>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>

<script>
    // axios实例
    var instance = axios.create({
        baseURL:"http://localhost:63342/vueproject/vuetest1/",
        timeout: 5000,
    });
    const depinfo = {
        template: `
          <div class="stickyfooter header-fixed">

            <div class="content">
              <main>
                <section class="pricing-area pt90 pb30">


                  <div class="container">
                    <hr color="black ">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="area-heading text-center">
                          <h2 class="area-title">依赖信息</h2>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <div >

                        <div v-for=" (dep,index) in dep_dic" class="col-md-4">

                          <div class="pricing-table mb30">
                            <div class="price-header">
                              <span class="price">{{ dep.package }}</span>
                            </div>
                            <div class="price-body">
                              <ul>
                                <li v-for="each_dep in dep.dependency">{{ each_dep }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                    <hr color="black ">
                  </div>
                </section>
              </main>
            </div>
          </div>

        `,
        data() {
            return {}
        },
        props: ['dep_dic']

    };

    const app = new Vue({
        el: '#app',
        data: {
            //  文件路径
            showTitle: '许可证检测',
            //  查询号码
            inquiryNum: '',
            depDic: '',


        },
        methods: {
            getDepDic(){
                //发送get方式请求
                instance.get("json/depInfoDemo.json").then(res=>this.depDic=res.data);
            }
        },
        components: {
            depinfo,
        },

        created(){
            this.getDepDic();
        },

    });




</script>